<div class="footer">
    <div>
        <h1>Shop</h1>
        <ul>
            <li>All products</li>
            <li>New Arrivals</li>
            <li>Best sellers</li>
            <li>Sale</li>
        </ul>
    </div>
    <div>
        <h1>About</h1>
        <ul>
            <li>Our Story</li>
            <li>Blog</li>
            <li>Reviews</li>
        </ul>
    </div>
    <div>
        <h1>Support</h1>
        <ul>
            <li>Contact us</li>
            <li>FAQs</li>
            <li>Shipping</li>
            <li>Returns</li>
        </ul>
    </div>
    <div>
        <h1>Newsletter</h1>
        <h2>Get Updates on new products</h2>
        <div>
            <input type="email" placeholder="Enter email" aria-label="Enter your email">
            <button type="submit">Sign Up</button>
        </div>
    </div>
</div>