<div class="footer">
    <div>
        <h1>Shop</h1>
            <ul>
                <li>All products</li>
                <li>New Arrivals</li>
                <li>Best sellers</li>
                <li>Sale</li>
            </ul>
    </div>
    <div>
        <h1>About</h1>
            <ul>
                <li>Our Story</li>
                <li>Blog</li>
                <li>Reviews</li>
            </ul>
    </div>
    <div>
        <h1>Support</h1>
            <ul>
                <li>Contact us</li>
                <li>FAQs</li>
                <li>Shipping</li>
                <li>Returns</li>
            </ul>
    </div>
    <div>
        <h1>Newsletter</h1>
        <h1>Get Updates on new product</h1>
        <div>
            <input placeholder="Entrer email">
            <button type="submit">Sign Up</button>
        </div>
    </div>
  </div>
