<h1 *ngIf="!categoryName">Choisissez une catégorie :</h1>
<div class="seasons-container" *ngIf="!categoryName">
  <button 
    *ngFor="let season of seasons" 
    mat-raised-button 
    color="primary" 
    (click)="navigateToSeason(season)"
  >
    {{ season }}
  </button>
</div>

<div *ngIf="loading" class="loading-spinner">
  <p>Chargement des produits...</p>
</div>

<div *ngIf="!loading && filteredProducts.length > 0" class="products-container">
  <app-product
    *ngFor="let product of filteredProducts"
    [product]="product"
  ></app-product>
</div>

<div *ngIf="!loading && filteredProducts?.length === 0" class="no-products">
  <p>Aucun produit trouvé pour cette catégorie.</p>
</div>

<ng-template #noProducts>
  <p>Aucun produit trouvé pour la catégorie {{ categoryName }}.</p>
</ng-template>

