h2 {
    text-align: center;
    margin-top: 20px;
  }
  
form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input, textarea, button {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

button {
  background-color: #e74c3c;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #61dafb;
  color: black;

}

div {
  text-align: center;
  font-size: 1.2em;
}

      