<app-header></app-header>

<main class="main">
  <div class="hero-section">
    <div class="description">
      <h1>Bienvenue sur Smickers</h1>
      <p>Découvrez nos collections exclusives et les meilleures offres pour vos sneakers préférés !</p>
      <button class="cta-button">Explorer Maintenant</button>
    </div>
  </div>

  <div class="product-grid">
    <app-product *ngFor="let product of products" [product]="product"></app-product>
  </div>
  <app-season-carousel></app-season-carousel>

</main>

<app-footer></app-footer>
<router-outlet></router-outlet>
