<div class="confirmation-container">
    <h2>Confirmation de commande</h2>
    <p>Merci pour votre commande, <span>{{ orderData.fullName }}</span> !</p>
    <p>
      Un email de confirmation a été envoyé à :
      <span>{{ orderData.email }}</span>
    </p>
    <p>
      Adresse de livraison :
      <span>{{ orderData.address }}</span>
    </p>
    <p>
      Mode de livraison :
      <span>{{ orderData.delivery }}</span>
    </p>
    <p>
      Mode de paiement :
      <span>{{ orderData.payment }}</span>
    </p>
  </div>
  